{{#if email}}
<p>Welcome back {{email}}</p>
{{else}}
<p>Welcome to Get Homii</p>
{{/if}}
{{#unless likes2}}

{{#unless email}}
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://static.pexels.com/photos/267569/pexels-photo-267569.jpeg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Create Account</h4>
    <p class="card-text">Get Homii works best if you create a free account to capture your favourite properties for purchase</p>
    <a href="/mobile/register" class="btn btn-primary">Create free account!</a>
  </div>
</div>
{{/unless}}

<br/>
<br/>

<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="/images/logo.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Search</h4>
    <p class="card-text">Use our search tool to find out what homes you could afford based on what you are currently paying in rent.</p>
    <a href="/mobile/search" class="btn btn-primary">Find your new home!</a>
  </div>
</div>

<br/>
<br/>
{{#unless email}}
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://static.pexels.com/photos/267482/pexels-photo-267482.jpeg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Login</h4>
    <p class="card-text">If you have already created an account login now to use your favourites.</p>
    <a href="/mobile/login" class="btn btn-primary">Login!</a>
  </div>
</div>
{{/unless}}
{{/unless}}
{{#if likes2}}
<div id="results" />
<script type="text/babel">
const Loader = () => {
  return <div className="loader"></div>;
}

function PropertyCard(props) {
  const property = props.property;

  return (
    <div className="card">
      <img className="card-img-top" src={property.mediumPhotoUrl} />
      <div className="card-block">
        <h4 className="card-title">{property.address}</h4>
        <p className="card-text">{property.priceDescription}</p>
        <p className="card-text">{property.agency}</p>
        <p className="card-text">{property.attributes}</p>
      </div>
    </div>
  )
}
function PropertyCardList(props) {
  const properties = props.properties;
  const propertyCards = properties.map((property) =>
    <PropertyCard 
      key={property.id} 
      property={property} 
    />
  );
  return (
    <div className="container">{propertyCards}</div>
  )
}

class Results extends React.Component {
  constructor(props) {
    super(props);
    this.state = { results: null };
  }
  componentDidMount() {
    axios.get(`/mobile/ajax/comps`)
      .then(res => {
        console.log(res);
        const results = res.data;
        this.setState({ results });
      });
  }
  render() {
    if (!this.state.results) {
      return ( <Loader /> );
    }
    return (
      <PropertyCardList />
    )
  }
}

ReactDOM.render(
  // Try changing to isLoggedIn={true}:
  <Results />,
  document.getElementById('results')
);

</script>
{{/if}}