{{#if errorMessage}}
<div class="alert alert-danger" role="alert">
  <strong>Error!</strong> {{errorMessage}}
</div>
{{/if}}
<p>Please Login using your Email Address and Password</p>
<form action="/mobile/login" method="POST">
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="email@gmail.com" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="*" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>