<form action="/mobile/profile" method="POST">
  <div class="form-group">
    <label for="rent">Enter the Rent you are paying now</label>
    <input type="text" class="form-control" name="rent" id="rent" aria-describedby="rentHelp" placeholder="e.g. 400">
    <small id="rentHelp" class="form-text text-muted">This is so we can calculate how much you can borrow.</small>
  </div>
  <div class="form-group">
    <label for="frequency">How often do you pay?</label>
    <select name="frequency" class="form-control" type="text">
      <option value="weekly">Weekly</option>
      <option value="fortnightly">Fortnightly</option>
      <option value="monthly">Monthly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="deposit">How much deposit do you have?</label>
    <input type="text" class="form-control" name="deposit" id="deposit" placeholder="e.g. 400">
  </div>  
  <div class="form-group">
    <label for="deposit">Distance from me?</label>
    <input type="text" class="form-control" name="deposit" id="deposit" placeholder="e.g. 400">
  </div>  
  <strong>OR</strong>
  <div class="form-group">
    <label for="postcode">What Postcode to Search in?</label>
    <input type="text" class="form-control" name="postcode" placeholder="Suburb or Postcode" value="" required>
  </div>
    <div class="form-group">
    <label for="frequency">Show me</label>
    <select name="frequency" class="form-control" type="text">
      <option value="all">All</option>
      <option value="apartments">Apartments</option>
      <option value="houses">Houses</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
