{{#if errorMessage}}
<div class="alert alert-danger" role="alert">
  <strong>Error!</strong> {{errorMessage}}
</div>
{{/if}}
{{#unless successMessage}}
<p>Please register for a free account to save your liked properties for future searches.</p>
<form action="/mobile/register" method="POST">
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="email@gmail.com" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="*" required>
  </div>
  <div class="form-group">
    <label for="confirmpassword">Confirm Password</label>
    <input type="password" class="form-control" name="confirmpassword" placeholder="*" required>
  </div>  
  <input type="hidden" name="rent" value="{{rent}}" />
  <input type="hidden" name="frequency" value="{{frequency}}" />
  <input type="hidden" name="postcode" value="{{postcode}}" />
  <input type="hidden" name="propertyId" value="{{propertyId}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/unless}}
{{#if successMessage}}
<div class="alert alert-success" role="alert">
  <strong>Success!</strong> {{successMessage}}
</div>
<form action="/mobile/search" method="POST">
  <input type="hidden" name="rent" value="{{search.rent}}" />
  <input type="hidden" name="frequency" value="{{search.frequency}}" />
  <input type="hidden" name="postcode" value="{{search.postcode}}" />
  <button type="submit" class="btn btn-primary">Return to results</a>
</form>
{{/if}}