<div id="results" />
<script type="text/babel">
const Loader = () => {
  return <div className="loader"></div>;
}

class LikeButton extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      propertyId: props.id,
    };

    // This binding is necessary to make `this` work in the callback
    this.handleClick = this.handleClick.bind(this);
  }

  handleClick() {
    if (typeof this.props.likeProperty === 'function') {
      this.props.likeProperty(this.state.propertyId);
    }
  }

  render() {
    return (
      <a href="#" onClick={this.handleClick} className="btn btn-primary">Like</a>
    );
  }
}

function PropertyCard(props) {
  const property = props.property;

  var likeButton = (property.liked) ? <div>Liked</div> : 
        <LikeButton 
          id={property.id} 
          likeProperty={props.likeProperty}
        />;

  return (
    <div className="card">
      <img className="card-img-top" src={property.mediumPhotoUrl} />
      <div className="card-block">
        <h4 className="card-title">{property.address}</h4>
        <p className="card-text">{property.priceDescription}</p>
        <p className="card-text">{property.agency}</p>
        <p className="card-text">{property.attributes}</p>
        {likeButton}
      </div>
    </div>
  )
}
function PropertyCardList(props) {
  const properties = props.properties;
  const propertyCards = properties.map((property) =>
    <PropertyCard 
      key={property.id} 
      property={property} 
      rent={props.rent}
      frequency={props.frequency}
      postcode={props.postcode}
      likeProperty={props.likeProperty}
    />
  );
  return (
    <div className="container">{propertyCards}</div>
  )
}

class Results extends React.Component {
  constructor(props) {
    super(props);
    this.state = { 
        results: null, 
        rent: props.rent, 
        frequency: props.frequency, 
        postcode: props.postcode,
        authenticated: props.authenticated
      };
  }
  componentDidMount() {
    this.loadProperties();
  }
  loadProperties() {
    axios.get(`/mobile/ajax/search?rent=${this.props.rent}&frequency=${this.props.frequency}&postcode=${this.props.postcode}`)
      .then(res => {
        console.log(res);
        const results = res.data;
        this.setState({ results });
      });
  }
  likeProperty(propertyId) {
    if (!authenticated) {
      window.location.href = `/mobile/register?rent=${this.state.rent}&frequency=${this.state.frequency}&postcode=${this.state.postcode}&propertyId=${propertyId}`;
      return;
    }
    this.setState({results: null});
    var self = this;
    axios.post(`/mobile/ajax/like?propertyId=${propertyId}`)
      .then(function (response) {
        self.loadProperties();
      })
      .catch(function (error) {
        self.loadProperties();
      });
  }
  render() {
    if (!this.state.results) {
      return ( <Loader /> );
    }
    return (
      <PropertyCardList 
        properties={this.state.results.properties}
        rent={this.state.rent}
        frequency={this.state.frequency}
        postcode={this.state.postcode} 
        likeProperty={this.likeProperty.bind(this)} 
      />
    )
  }
}

const rentVal = {{rent}};
const frequencyVal = '{{frequency}}';
const postcodeVal = '{{postcode}}';
const authenticated = {{authenticated}};

ReactDOM.render(
  // Try changing to isLoggedIn={true}:
  <Results rent={rentVal} frequency={frequencyVal} postcode={postcodeVal} authenticated={authenticated}/>,
  document.getElementById('results')
);

</script>
