<form action="/mobile/search" method="POST">
  <div class="form-group">
    <label for="rent">Enter the Rent you are paying now</label>
    <input type="text" class="form-control" name="rent" id="rent" aria-describedby="rentHelp" placeholder="e.g. 400" value="{{rent}}">
    <small id="rentHelp" class="form-text text-muted">This is so we can calculate how much you can borrow.</small>
  </div>
  <div class="form-group">
    <label for="frequency">How often do you pay?</label>
    <select name="frequency" class="form-control" type="text">
      <option value="weekly">Weekly</option>
      <option value="fortnightly">Fortnightly</option>
      <option value="monthly">Monthly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="postcode">What Postcode to Search in?</label>
    <input type="text" class="form-control" name="postcode" placeholder="Suburb or Postcode" value="{{postcode}}" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
